<!-- Heredamos de pagina.html -->
{% extends 'base.html' %}

<!-- pagina.html desarrolla cada bloque -->
{% block title %}Registro{% endblock %}

{% block content %}
<div class="container">
    <h1>Formulario de Registro</h1>
    <form action="/procesar_formulario" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="carnet">Carné:</label>
        <input type="text" id="carnet" name="carnet"><br><br>

        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %} 
    
    