<!-- Heredamos de pagina.html -->
{% extends 'base.html' %}

<!-- pagina.html desarrolla cada bloque -->
{% block title %}Adivina mi nombre y edad{% endblock %}

{% block content %}
<div class="container">
    <h1>Formulario de Calculo de edad y genero por nombre</h1>
    <form action="/procesar_formulario_nombre" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>

        <input type="submit" value="Enviar">
    </form>
</div>  
{% endblock %}   
